<div class="row form-group" ng-class="{'has-error': showLoginError()}">
    <div class="col-sm-1 control-label">
        Login:
    </div>
    <div class="col-sm-4 form-group" ng-class="{'has-error': showLoginError()}">
        <input type="text" ng-model="login" class="form-control" aria-describedby="helpBlock">
        <span ng-if="showLoginError()" id="helpBlock" class="help-block">Login needs to have a length of at least 1 character.</span>
    </div>
</div>
<div class="row" class="form-group">
    <div class="col-sm-1 control-label">
        Password:
    </div>
    <div class="col-sm-4">
        <input type="password" ng-model="pw" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" ng-click="clickRegister()">Register</button>
    </div>
</div>