<div class="row form-group" ng-class="{'has-error': showLengthError()}">
    <div class="col-sm-1 control-label">
        Login:
    </div>
    <div class="col-sm-4 form-group" ng-class="{'has-error': showLengthError()}">
        <input type="text" ng-model="login" class="form-control" aria-describedby="helpBlock">
        <span ng-if="showLengthError()" id="helpBlock" class="help-block">Login needs to be at least 1 character.</span>    
    </div>
</div>
<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <button type="button" class="btn btn-default" ng-click="clickReset()">Reset Password</button>
        <div ng-if="showSuccess" class="alert alert-info">
            An email with password reset instructions has been sent to the email address on file for <b>{{usedLogin}}</b>.
        </div>
        <div ng-if="showNotFound" class="alert alert-warning">
            An account with username <b>{{usedLogin}}</b> has not been found.
        </div>

    </div>
</div>