<div class="row">
    <div class="col-sm-1">
        Login:
    </div>
    <div class="col-sm-11">
        <input type="text" ng-model="login">
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
        Password:
    </div>
    <div class="col-sm-11">
        <input type="text" ng-model="pw">
    </div>
</div>
<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-default" ng-click="clickLogin()">Login</button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-link" ng-click="clickReset()">Reset Password</button>        
    </div>
</div>